@import './_common.less';

.screenCapture-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    background: transparent;
    box-sizing: border-box;
    border: 3px solid @baseColor; 
    display: none;
}

.screenCapture-wrapper-show {
    background: rgba(0,0,0,0.5);
    display: block;
}

.screenCapture-number-view {
    width: 0px;
    height: 0px;
    border: 1px solid @baseColor;
    transform: translate(200px,200px);
    background: transparent;
    position: relative;
  
    .screenCapture-selectbox-show { 
        display: block !important;
    }
    
    .screenCapture-selectbox {
        position: absolute;
        bottom: -35px;
        right:0;
        width: 210px;
        height: 30px;
        line-height: 30px;
        background: #fff;
        color: #333;
        font-size: 12px; 
        display: none;

        .screenCapture-w-h {
            margin: 0 10px;
        }

        .function-close, .function-success {
            margin: 5px 10px;
        }
    }
}